/*For top*/
@font-face{
	font-family:"PTNarrow";
	src:url('../fonts/PTNarrow.ttf');
}
.menuBack .home
{
	position:fixed;
	right:3%;
}
.menuBack .up
{
	padding:3%;
	margin:10%;
	font-family:'dense';
	font-size:3em;
	letter-spacing:3;
	cursor:pointer;
	transition: all 1s;
	color:white;
	font-weight:900;
	display:inline-block;
	min-width:120;
}
.menuBack .up .arrow
{
	display:inline-block;
	transform:scale(-1,-1);
	-webkit-transform:scale(-1,-1);
	margin-left:-15%;
	margin-top:-48%;
}
.menuBack .up .arrow .head
{
	border-color: white;
}
.menuBack .up .arrow .tail
{
	background:white;
}
.menuBack .up:hover
{
	color:#FF4454;
}
/*Event description css*/
.writeup
{
	position:relative;
}
.writeup .content
{
	margin-top:-4%;
	//z-index: -1;
	background:orange;
}
.writeup .content .section
{
	list-style-type:none;
	display: none;
	text-align:justify;
	padding:2%;
	margin:2px;
	font-size:19px;
	font-family:'futura';
}
/*Navbar at the bottom*/
.navbar
{
	position:relative;
	bottom:0%;
	width:100%;
	font-family:"PTNarrow";
}
.navbar ul
{
	background:none;
	position:relative;
	min-width:75%;
	width:auto;
	text-align: center;
	box-shadow:0px 0px 0px;
	-webkit-box-shadow:0px 0px 0px;
}
.navbar ul li
{
	display:inline-block;
	padding:0px;
	position:relative;
	margin: -2% 1%;
	font-size:18px;
	min-width:auto;
	width:15%;
	text-transform:uppercase;
	font-family:"PTNarrow";
	background:#e5e5e5;
	border:1px solid #222;
}