/*For top*/
.menuBack .home
{
	position:fixed;
	right:3%;
}
.menuBack .up
{
	padding:3%;
	margin:10%;
	font-family:'dense';
	font-size:3em;
	letter-spacing:3;
	cursor:pointer;
	transition: all 1s;
	color:white;
	font-weight:900;
	display:inline-block;
	min-width:120;
}
.menuBack .up .arrow
{
	display:inline-block;
	transform:scale(-1,-1);
	-webkit-transform:scale(-1,-1);
	margin-left:-15%;
	margin-top:-48%;
}
.menuBack .up .arrow .head
{
	border-color: white;
}
.menuBack .up .arrow .tail
{
	background:white;
}
.menuBack .up:hover
{
	color:#FF4454;
}
/*Event description css*/
.writeup
{
	position:relative;
}
.writeup .content
{
	margin-top:-4%;
	//z-index: -1;
	//background:orange;
}
.writeup .content .section
{
	list-style-type:none;
	display: none;
	text-align:justify;
	max-height:500px;
	padding:2%;
	margin:2px;
	font-size:19px;
	font-family:'futura';
}
/*Navbar at the bottom*/
.navbar
{
	position:absolute;
	bottom:0;
	width:100%;
	font-family:"PTNarrow";
}
.navbar ul
{
	background:none;
	position:relative;
	min-width:75%;
	width:auto;
	text-align: center;
	box-shadow:0px 0px 0px;
	-webkit-box-shadow:0px 0px 0px;
}
.navbar ul li
{
	display:inline-block;
	position:relative;
	padding:2px;
	font-size:18px;
	min-width:auto;
	width:15%;
	text-transform:uppercase;
	font-family:futura;
	cursor: pointer;
	border-bottom:1px solid rgba(255,255,255,0.2);
}

.navbar ul li:hover{
	border-bottom:1px solid rgba(255,255,255,1);
}
.navbar-content{
	width:80%;
	height:80%;
	position: absolute;
	top:10%;
	left:10%;
	z-index:-1000;
	background: rgba(255,245,238,1);
	border-radius: 10px;
	opacity: 0;
}
.navbar-section{
	position: absolute;
	top:0;
	left:0;
	width:90%;
	height:80%;
	border-radius:10px;
	padding:5%;
	display: none;
	color:rgb(50,50,50);
	font-family:futura;
	font-size:1.3em;
}
.saffron{
	color:rgb(255,153,51);
}
.white{
	color:white;
}
.green{
	color:rgb(19,136,8);
}
#close-button{
	position: absolute;
	right:20;
	top:10;
	font-size:1.8em;
	font-family: futura;
	font-weight:bold;
	cursor: pointer;
	z-index:1001;
	color:grey;
}
#close-button:hover{
	color:black;	
}