@font-face{
	font-family:"futura";
	src:url(../fonts/futura.ttf);
}
@font-face{
	font-family:"deconue";
	src:url(../fonts/deconue.ttf);
}

html,body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
	font-family:futura;
}
.stage{
	position: absolute;
	width:96%;
	height:96%;
	padding:2%;
	padding-bottom:0;
	background: whitesmoke;//#ecf0f1;//#1abc9c;
}
#login-stage{
	text-align:center;
}
#login-stage .login-message img{
	float:none;
	width:100px;
}
#login-stage input{
	display: inline-block;
	margin:10px;
	padding:10px;
	border:none;
	background:rgb(200,200,200);
	font-size:20px;
	font-family:futura;
}
#login-stage #login{
	border:none;
	background:#27ae60;
	padding:10px;
	color:white;
	font-weight:bold;
	font-size:20px;
	margin:20px;
	cursor:pointer;
}
#eventlist-stage{
	display: none;
}
#eventlist-stage #add{
	display: inline-block;
	margin-bottom: 10px;
	background: grey;
	padding:5px;
	color:white;
	cursor: pointer;
}
#event-stage{
	display: none;
	color:white;
}
.events-list li{
	list-style-type: none;
	font-family:calibri;
	padding:10px;
	border-radius:2px;
	font-size:1.5em;
}
.events-list li:nth-child(odd){
	background:rgb(220,220,200);
}
.events-list li .delete, .events-list li .edit{
	float:right;
	cursor: pointer;
	margin-left:10px;
}
.events-list li .delete:hover, .events-list li .edit:hover{
	color:blue;
}
#ts-logo img{
	float:right;
	width:100px;
}
#save{
	text-align: center;
	float:right;
	width:100px;
	color: grey;
	padding:5px;
	border: 1px solid grey;
	//box-shadow:1px 1px 5px grey;//white;
	cursor: pointer;
	font-size:1.5em;
	margin-right:50px;
}
#save:hover{
	border-color:white;
	box-shadow:1px 1px 5px grey;//white;
}
#message{
	text-align: center;
	color:red;
}
.name{
	font-family: deconue;
	font-weight: bold;
	font-size: 3em;
	color: #34495e;
	text-align: center;
}
.description{
	font-size: 1.2em;
	display: inline-block;
	height:72%;
	background:#34495e;//rgba(0,0,0,0.5);
	padding:10px;
	overflow:auto;
	width:100%;
}
#problem_link{
	display: inline-block;
	padding: 5px;
	font-family: futura;
	font-size: 1.2em;
	background:rgba(0,0,0,0.2);
	margin-bottom:2px;
	padding:5px;
	box-shadow:1px 1px 5px white;
	cursor: pointer;
}
.category{
	display: inline-block;
}
.dropdown
{
	padding:5px;
	font-size:16px;
	border-width: 0px;
	color:white;
	background:#34495E;
}
.dropdown>option
{
	padding:2%;
	font-size:16px;
	background:white;
	color:#2196F3;
	transition: all 0.4s;
}
.dropdown>option:hover
{
	background:#34495E;
	color:white;
}