@font-face
{
	font-family:'Garamond';
	src:url('../fonts/AlternateGotNo2D.otf');
}
.menuBack
{
	height:100%;
	text-align:center;
	display:none;
	transform:translateY(100%);
	-webkit-transform:translateY(100%);
}
.menuBack .menu
{
	background:#222;
	box-shadow:0px 0px 4px rgba(227,225,224,0.3);
	-webkit-box-shadow:0px 0px 4px rgba(227,225,224,0.3);
	min-width:15%;
	padding:1% 3% 0 3% !important;
	display:inline-block;
	border-radius:15px;
	position:relative;
	z-index:1;
}
.menuBack .menu li
{
	font-family:'Garamond';
	font-size:25px !important;
	position: relative;
	padding:12% !important;
	margin-top:1% !important;
	list-style-type: none;
}
.menuBack .menu li #item
{
	text-transform: uppercase;
	color:white;
	transition:all 1s;
	-webkit-transition:all 1s;
	cursor:pointer;
}
.menuBack .menu li #item:hover
{
	color:#FF4454;
}
.menuBack .menu li:not(:last-child)
{
	border-bottom: solid thin rgba(197,197,195,0.2);
}
.heading
{
	font-size:32px;
	font-weight:500;
	border-bottom: 1px solid black;
}
.thread
{
	margin:5%;
}
.menu #item i{
	opacity:0;
}