@font-face
{
  font-family:'futura';
  src:url('../fonts/futura.TTF');
}
body
{
  height:auto;
  width:auto;
}
.screen
{
  position:relative;
  text-align:center;
  height:100%;
  width:100%;
}
.login
{
  display:inline-block;
  margin-top: 10%;
  padding:3%;
}
.label
{
  font-family:'futura';
  font-size:20px;
  display:inline-block;
  margin-top: 10px;
}
.txtbox
{
  min-height:95%;
  min-width:10%;
  font-size:19px;
  display: inline-block;
  border:none;
}
.credentials
{
  position:relative;
  padding:3px;
}
.box
{
  border: solid 4px #bdbdbd;
  border-radius:10px;
  background:none;
  padding:3px;
  margin:3%;
}
.go
{
  padding:2%;
}
.goButton
{
  border-radius:4px;
  padding:3% 6%;
  background:#2ECC71;
  border-width: 0px;
  width:50%;
  display: inline-block;
  cursor:pointer;
}
.goButton:hover
{
  background:#87d37c;
}
.btn-txt
{
  font-family:'futura';
  font-size:19px;
  color:#151515;
  transition:all 1s;
  -webkit-transition:all 1s;
}
.editform
{
  //background:blue;
  height:auto;
  width:100%;
  display:none;
  text-align:center;
}
.dashboard
{
  //background:red;
  position:relative;
  display: inline-block;
  width:98%;
  height:auto;
  margin:1%;
}
.records
{
  //background:green;
  height:auto;
  width:98%;
  margin:1%;
  display: inline-block;
}
.event
{
  background:#E4F1FE;
  list-style-type: none;
  margin:1%;
  padding:1%;
  border-radius: 10px;
}
.content
{
  text-align: right;
}
.eventName::after
{
  float:left;
  content:'A';
  margin-left:4%;
}
.manipButton
{
  margin:2px;
  font-size:20px;
  font-family:'futura';
  font-weight:900;
  color:#151515;
  text-align:center;
  border-radius:4px;
  position:relative;
  display: inline-block;
  cursor:pointer;
  margin:0.5% 1%;
}
.edit
{
  background:#26A65B;
  padding:0.7%;
}
.delete
{
  color:red;
}