.footerSpace
{
	height:90px;
	width:100%;
	position:relative;
	margin-top:15%;
}
.insert
{
	display:inline-block;
	margin-left:20px;
	font-size:18px;
}
.originalForm
{
	position:relative;
	top:80px;
	margin:20px;
}
.errorMessage
{
	display:none;
}
.previewForm
{
	display:none;
}
.formHeader{
	position:relative;
	top:40px;
}
.segment
{
	height:auto;
}
.form
{
	width:1200px;
}
.head
{
	height:60px;
}
.finalForm
{
	width:1200px;
}