.space{
	position:absolute;
	display:none;
	left:420px;
	top:120px;
}

.earth
{
	position:absolute;
	animation: big 1s;
	transform:scale(0.2,0.2);
	-webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.rocket{
	position:absolute;
	opacity:0;
	color:red;
	left:120px;
	top:210px;
	animation: sweep 2s ease-in-out;
	transform: scale(0.5,0.5);
	-webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
	-webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
   animation-delay: 1s;
	transform-origin:center center;
	width:400px;
	height:60px;

}


@keyframes big
{
	0%:{transform:scale(0.2,0.2);}
	50%:{transform:scale(0.5,0.5);}
	100%{transform:scale(1,1);}
}

@-webkit-keyframes big
{
	0%:{-webkit-transform:scale(0.2,0.2);}
	50%:{-webkit-transform:scale(0.5,0.5);}
	100%{-webkit-transform:scale(1,1);}
}

@keyframes sweep
{
	0%{transform:rotate(0deg) scale(0.2,0.2);opacity:1}
	50%{transform:rotate(180deg) ;transform-origin: center center;opacity:1}
	100%{transform:rotate(360deg);opacity:1}
}

@-webkit-keyframes sweep
{
	0%{-webkit-transform:rotate(0deg) scale(0.2,0.2);}
	50%{-webkit-transform:rotate(180deg);-webkit-transform-origin: center center;}
	100%{-webkit-transform:rotate(360deg);}
}