html,body{
	margin:0;
	padding:0;
	width:100%;
	height:100%;
	overflow:hidden;
	text-align:center;
}

.main{
	width:auto;
	display: inline-block;
	width:1200px;
	height:600px;
	background-color: #051729;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#000000), to(#051729)); 
	background-image: -webkit-linear-gradient(top, #000000, #051729); 
	background-image:    -moz-linear-gradient(top, #000000, #051729); 
	background-image:     -ms-linear-gradient(top, #000000, #051729); 
	background-image:      -o-linear-gradient(top, #000000, #051729); 
	background-image:         linear-gradient(top, #000000, #051729);
	background-attachment: fixed;
	background-repeat: repeat-x;
	color: white;
}
.container
{
	position: absolute;
	display: inline-block;
	width:800px;
	height:50%;
	transform-origin:100% 100%;
	transition:all 2s;
}
.constellation{
	position: relative;
	width:140px;
	height: 100%;
	display:inline-block;
	//background: green;
	display:none;
}
.star{
	background-color: white;
	border-radius: 4px;
	box-shadow: 0 0 20px rgba(164, 204, 244, 0.65);
	height: 8px;
	margin: 1px;
	position: absolute;
	width: 8px;
	z-index: 2;
	transition:all 1s;
}
.constellation .small {
	border-radius: 2px;
	height: 4px;
	margin: 3px;
	width: 4px;
}
.constellation .medium {
	border-radius: 3px;
	height: 6px;
	margin: 2px;
	width: 6px;
}
.constellation .large {
	border-radius: 4px;
	height: 8px;
	margin: 1px;
	width: 8px;
}

.o {
	width: 167px;
}
.o .star1 {
	left: 73px;
	top: 24px;
}
.o .star2 {
	left: 99px;
	top: 28px;
}
.o .star3 {
	left: 118px;
	top: 41px;
}
.o .star4 {
	left: 130px;
	top: 63px;
}
.o .star5 {
	left: 134px;
	top: 91px;
}
.o .star6 {
	left: 130px;
	top: 121px;
}
.o .star7 {
	left: 113px;
	top: 146px;
}
.o .star8 {
	left: 87px;
	top: 159px;
}
.o .star9 {
	left: 56px;
	top: 157px;
}
.o .star10 {
	left: 31px;
	top: 144px;
}
.o .star11 {
	left: 16px;
	top: 115px;
}
.o .star12 {
	left: 14px;
	top: 83px;
}
.o .star13 {
	left: 22px;
	top: 52px;
}
.o .star14 {
	left: 43px;
	top: 32px;
}
.e .star1 {
	top: 31px;
	left: 25px;
}
.e .star2 {
    top: 29px;
    left: 52px;
}
.e .star3 {
    top: 30px;
    left: 80px;
}
.e .star4 {
    top: 31px;
    left: 108px;
}
.e .star5 {
    top: 58px;
    left: 24px;
}
.e .star6 {
    top: 87px;
    left: 22px;
}
.e .star7 {
    top: 89px;
    left: 50px;
}
.e .star8 {
    top: 88px;
    left: 80px;
}
.e .star9 {
    top: 88px;
    left: 104px;
}
.e .star10 {
    top: 121px;
    left: 22px;
}
.e .star11 {
    top: 153px;
    left: 22px;
}
.e .star12 {
    top: 155px;
    left: 51px;
}
.e .star13 {
    top: 154px;
    left: 80px;
}
.e .star14 {
    top: 155px;
    left: 106px;
}
.hide
{
	opacity:0;
}
.under
{
	position:absolute;
	width:140px;
	height:100%;
}
.zeroAbove
{
	position:absolute;
	left:-100px;
	top:200px;
}
.zeroBelow
{
	left:-30px;
	top:200px;
	transition:all 1s;
	-webkit-transition:all 1s;
}
.oneBelow
{
	top:200px;
	left:-265px;
	transition: all 1s;
	-webkit-transition: all 1s;
}
.oneAbove, .zeroAbove
{
	transition:all 0.5s linear;
	-webkit-transition:all 0.5s linear;
}
.oneAbove{
	position: absolute;
	top:200px;
	left:-265px;
}
.Wifi:nth-child(1){
	left:375px;
	top:420px;
}
.Wifi:nth-child(2){
	left:747px;
	top:50px;
	animation-delay: 1.2s;
}