@font-face {
	font-family: "ElegantSans";
	src: url("LANENAR_.ttf");
	font-weight: normal;
	font-style: normal;
}
.zero
{
	position:absolute;
	font-family:"ElegantSans";
	display:none;
	transition:all 1s;
	-webkit-transition:all 1s;
	font-size:120px;
}
.txt
{
	position:absolute;
	font-family:"ElegantSans";
}
.zero:before
{
	content:"0";
}
.para
{
	position:absolute;
	display:none;
	color:white;
	height:auto;
	width:300px;
	transition:all 1s;
	-webkit-transition:all 1s;
	font-size:22px;
}