@font-face {
	font-family: "ElegantSans";
	src: url("LANENAR_.ttf");
	font-weight: normal;
	font-style: normal;
}
.zero{
	position:absolute;
	display: none;
	
	color:white;
	font-weight:bold;
	font-size:1.8em;
	font-family: open sans;
	
	transition:all 1s;
	-webkit-transition:all 1s;
}
.txt{
	position:absolute;
	display:none;//inline-block;
	
	color:white;
	font-size:1.8em;
	font-family:"ElegantSans";
	letter-spacing: 2px;
	
	transition:all 1s;
	-webkit-transition:all 1s;
}
.zero:before{
	content:"0";
}