.Wifi
{
	position:absolute;
	display:none;
}
.Arc{
	border:20px solid transparent;
	border-radius:100%;
	margin:0 auto;
}
.Out{
	width:500px;
	height:500px;
	margin:100px auto;
	border-top-color:#A1A1A1;
	-webkit-animation:appearOut 3s infinite linear;
	-moz-animation:appearOut 3s infinite linear;
	-o-animation:appearOut 3s infinite linear;
	animation:appearOut 3s infinite linear;
}
.Middle{
	width:400px;
	height:400px;
	margin:40px auto;
	border-top-color:#A1A1A1;
	-webkit-animation:appearMiddle 3s infinite linear;
	-moz-animation:appearMiddle 3s infinite linear;
	-o-animation:appearMiddle 3s infinite linear;
	animation:appearMiddle 3s infinite linear;
}
.In{
	width:300px;
	height:300px;
	margin:40px auto;
	border-top-color:#A1A1A1;
	-webkit-animation:appearIn 3s infinite linear;
	-moz-animation:appearIn 3s infinite linear;
	-o-animation:appearIn 3s infinite linear;
	animation:appearIn 3s infinite linear;
}
.Dot{
	width:50px;
	height:50px;
	margin:60px auto;
	background:#A1A1A1;
}
@keyframes "appearIn" {
    0% {
        border-top-color:transparent;
    }
	25%{
		border-top-color:#A1A1A1;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}
@keyframes "appearMiddle" {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}

@keyframes "appearOut" {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:transparent;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}
@-moz-keyframes appearIn {
    0% {
        border-top-color:transparent;
    }
	25%{
		border-top-color:#A1A1A1;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}
@-moz-keyframes appearMiddle {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}

@-moz-keyframes appearOut {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:transparent;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}
@-webkit-keyframes "appearIn" {
    0% {
        border-top-color:transparent;
    }
	25%{
		border-top-color:#A1A1A1;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}
@-webkit-keyframes "appearMiddle" {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}

@-webkit-keyframes "appearOut" {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:transparent;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}
@-ms-keyframes "appearIn" {
    0% {
        border-top-color:transparent;
    }
	25%{
		border-top-color:#A1A1A1;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}
@-ms-keyframes "appearMiddle" {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}

@-ms-keyframes "appearOut" {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:transparent;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}
@-o-keyframes "appearIn" {
    0% {
        border-top-color:transparent;
    }
	25%{
		border-top-color:#A1A1A1;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}
@-o-keyframes "appearMiddle" {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:#A1A1A1;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}

@-o-keyframes "appearOut" {
    0% {
		border-top-color:transparent;
    }
	25%{
		border-top-color:transparent;
	}
    75% {
		border-top-color:transparent;
    }
    100% {
		border-top-color:#A1A1A1;
    }
}